.App {
  text-align: center;
};
.color-img{
  background-color: #a54df867;
  background-attachment: fixed;
  background-position: -1;
};
.bloco{
  color: #d653699a;
  width: 80px;
};
.img{
  background-attachment: fixed;
  background-position: -2;
};