.App {
  text-align: center;
  color: aliceblue;
};
.color-img{
  background-color: #a54df867;
  background-attachment: fixed;
  background-position: -1;
  align-items: center
};
textarea{
  border-radius: 15px;
  border-color: #d653699a;
  text-decoration-color:  #d65369;
  width: 70%;
};
.img{
  background-attachment: fixed;
  background-position: -2;
};